body {
  background-color: #d8d8d8;
}
nav {
  font-family: "Encode Sans SC", sans-serif;
  background: rgb(46, 46, 46);
  background: linear-gradient(
    90deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(52, 52, 52, 1) 50%,
    rgba(56, 56, 56, 1) 100%
  );
  box-shadow: 2px 2px 5px grey;
}
nav a {
  font-size: 0.85rem;
  color: rgb(197, 197, 197);
}
nav a:hover {
  color: white;
}

.pink {
  color: #de8ae5;
}

.section-title {
  font-weight: 600;
}

.carousel-img {
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 0px 2px 5px grey;
}
.carousel-button {
  background: linear-gradient(-180deg, #c1ec51, #80b02a);
  color: white;
}
.card-img-top {
  border-radius: 0;
  object-fit: cover;
  height: 100px;
}

.card {
  background: rgb(230, 230, 230);
  border-radius: 0px;
  box-shadow: 0px 2px 5px rgb(216, 216, 216);
}
.card-text {
  font-size: 0.85rem;
}
.product-card {
  padding: 4px 16px;
}

.product-card-info {
  padding: 4px 16px;
  position: relative;
  margin-bottom: 15px;
}

.product-card-discount {
  position: absolute;
  padding-right: 8px;
  top: 0;
  right: 0;
}

.product-card-price {
  font-weight: 500;
}

.product-card-percent {
  margin-right: 8px;
  padding: 4px 8px;
  border-radius: 2px;
  background: #78387b;
  color: #fff;
  font-weight: 700;
  line-height: 12px;
}

.product-tile-price {
  display: block;
  color: #999;
  text-align: right;
  font-weight: 600;
  font-size: 8px;
  text-decoration: line-through;
}
